<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{layouts/main-layout}" th:with="jumbo='Produits'">
<head>
<meta charset="UTF-8">
<title>Produits</title>
</head>
<body>

	<div layout:fragment="content">

		<h1 class="text-center">Edition Produit</h1>
		<div class="container">
			<form action="#" th:action="@{/produit/{id}(id=${produit.id})}"
				th:object="${produit}" method="post">

				<div class="form-group row-md-6">
				<p class="text-center text-secondary" th:text="${produit.id}"></p>
					<label for="libelle" class="col-form-label text-center">Libellé</label>
					<input type="text" th:field="*{libelle}" class="form-control "
						id="libelle" placeholder="Libellé"> <span
						th:if="${#fields.hasErrors('libelle')}" th:errors="*{libelle}"
						class="text-danger"></span> <label for="libelle"
						class="col-form-label">Stock</label> <input type="number"
						th:field="*{stock}" class="form-control" id="stock"
						placeholder="Stock"> <span
						th:if="${#fields.hasErrors('stock')}" th:errors="*{stock}"
						class="text-danger"></span> <label for="prixAchat"
						class="col-form-label">Prix d'achat</label> <input type="number"
						min="0" max="10000" step="0.01" th:field="*{prixAchat}"
						class="form-control" id="prixAchat" placeholder="Prix d'achat">
					<span th:if="${#fields.hasErrors('prixAchat')}"
						th:errors="*{prixAchat}" class="text-danger"></span> <label
						for="dateAchat" class="col-form-label">Date d'achat</label> <input
						type="date" th:field="*{{dateAchat}}" class="form-control"
						id="dateAchat" placeholder="Date d'achat"> <span
						th:if="${#fields.hasErrors('dateAchat')}" th:errors="*{dateAchat}"
						class="text-danger"></span>
				</div>

				<div class="row">
					<div class="col-md-6 mt-5">
						<input type="submit" class="btn btn-primary" value="Validation">
					</div>
				</div>
			</form>
		</div>




	</div>


</body>

</html>