<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
	layout:decorate="~{layouts/main-layout}" th:with="jumbo='Produits'">
<head>
<meta charset="UTF-8">
<title>Erreur</title>
</head>
<body>
	<div layout:fragment="content">
		<div class="jumbotron jumbotron-fluid">
			<div class="container">
				<h1 class="display-4">Ooops.... !</h1>

				<p class="lead" th:text="${status}+' '+${error}"></p>
				<p class="lead" th:text="${message}"></p>
				<img alt="" src="/img/404.gif">
				<div sec:authorize="hasRole('ROLE_admin')">
					<p class="lead" th:text="${trace}"></p>
				</div>

			</div>
		</div>
	</div>
</body>
</html>