<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
	layout:decorate="~{layouts/main-layout}" th:with="jumbo='Produits'">
<head>
<meta charset="UTF-8">
<title>Mon compte</title>
</head>
<body>
	<div layout:fragment="content">
		<div class="container">
		
			<p sec:authentication="name">...</p>
				<p sec:authentication="principal.authorities">...</p>
		</div>
			
			</div>
</body>
</html>